[alias]
	st = status -sb
	br = branch
	ci = commit
	co = checkout
  lgg = log --graph --pretty=oneline --abbrev-commit

[user]
	name = Raghotham
	email = raghotham.s@gmail.com

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[merge]
	tool = opendiff
